body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1971px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u799_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1056px;
  height:490px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u799 {
  position:absolute;
  left:55px;
  top:90px;
  width:1056px;
  height:490px;
}
#u800 {
  position:absolute;
  left:2px;
  top:237px;
  width:1052px;
  visibility:hidden;
  word-wrap:break-word;
}
#u801_div {
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u801 {
  position:absolute;
  left:64px;
  top:105px;
  width:157px;
  height:18px;
}
#u802 {
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  white-space:nowrap;
}
#u803_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1057px;
  height:2px;
}
#u803 {
  position:absolute;
  left:55px;
  top:133px;
  width:1056px;
  height:1px;
}
#u804 {
  position:absolute;
  left:2px;
  top:-8px;
  width:1052px;
  visibility:hidden;
  word-wrap:break-word;
}
#u805 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u806 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u807_img {
  position:absolute;
  left:0px;
  top:0px;
  width:191px;
  height:32px;
}
#u807 {
  position:absolute;
  left:75px;
  top:149px;
  width:191px;
  height:32px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
}
#u808 {
  position:absolute;
  left:2px;
  top:8px;
  width:187px;
  visibility:hidden;
  word-wrap:break-word;
}
#u809_div {
  position:absolute;
  left:0px;
  top:0px;
  width:189px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(63, 164, 237, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#CCCCCC;
  text-align:left;
}
#u809 {
  position:absolute;
  left:76px;
  top:151px;
  width:189px;
  height:28px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#CCCCCC;
  text-align:left;
}
#u810 {
  position:absolute;
  left:8px;
  top:6px;
  width:173px;
  word-wrap:break-word;
}
#u811_img {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:6px;
}
#u811 {
  position:absolute;
  left:253px;
  top:163px;
  width:8px;
  height:6px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
  opacity:0.449999988079071;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u812 {
  position:absolute;
  left:2px;
  top:2px;
  width:4px;
  visibility:hidden;
  word-wrap:break-word;
}
#u813 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u814 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u815 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u816_div {
  position:absolute;
  left:0px;
  top:0px;
  width:263px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(216, 216, 216, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Helvetica Neue Regular', 'Helvetica Neue';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
}
#u816 {
  position:absolute;
  left:470px;
  top:150px;
  width:263px;
  height:28px;
  font-family:'Helvetica Neue Regular', 'Helvetica Neue';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
}
#u817 {
  position:absolute;
  left:10px;
  top:7px;
  width:245px;
  word-wrap:break-word;
}
#u818_img {
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:13px;
}
#u818 {
  position:absolute;
  left:714px;
  top:157px;
  width:11px;
  height:13px;
}
#u819 {
  position:absolute;
  left:2px;
  top:-2px;
  width:7px;
  visibility:hidden;
  word-wrap:break-word;
}
#u820_div {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u820 {
  position:absolute;
  left:752px;
  top:147px;
  width:74px;
  height:37px;
}
#u821 {
  position:absolute;
  left:2px;
  top:11px;
  width:70px;
  word-wrap:break-word;
}
#u822 {
  position:absolute;
  left:93px;
  top:224px;
  width:705px;
  height:65px;
}
#u823_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u823 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
  color:#808080;
}
#u824 {
  position:absolute;
  left:2px;
  top:8px;
  width:96px;
  word-wrap:break-word;
}
#u825_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u825 {
  position:absolute;
  left:100px;
  top:0px;
  width:100px;
  height:30px;
  color:#808080;
}
#u826 {
  position:absolute;
  left:2px;
  top:8px;
  width:96px;
  word-wrap:break-word;
}
#u827_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u827 {
  position:absolute;
  left:200px;
  top:0px;
  width:100px;
  height:30px;
  color:#808080;
}
#u828 {
  position:absolute;
  left:2px;
  top:8px;
  width:96px;
  word-wrap:break-word;
}
#u829_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u829 {
  position:absolute;
  left:300px;
  top:0px;
  width:100px;
  height:30px;
  color:#808080;
}
#u830 {
  position:absolute;
  left:2px;
  top:8px;
  width:96px;
  word-wrap:break-word;
}
#u831_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u831 {
  position:absolute;
  left:400px;
  top:0px;
  width:100px;
  height:30px;
  color:#808080;
}
#u832 {
  position:absolute;
  left:2px;
  top:8px;
  width:96px;
  word-wrap:break-word;
}
#u833_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u833 {
  position:absolute;
  left:500px;
  top:0px;
  width:100px;
  height:30px;
  color:#808080;
}
#u834 {
  position:absolute;
  left:2px;
  top:8px;
  width:96px;
  word-wrap:break-word;
}
#u835_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u835 {
  position:absolute;
  left:600px;
  top:0px;
  width:100px;
  height:30px;
  color:#808080;
}
#u836 {
  position:absolute;
  left:2px;
  top:8px;
  width:96px;
  word-wrap:break-word;
}
#u837_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u837 {
  position:absolute;
  left:0px;
  top:30px;
  width:100px;
  height:30px;
}
#u838 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u839_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u839 {
  position:absolute;
  left:100px;
  top:30px;
  width:100px;
  height:30px;
}
#u840 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u841_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u841 {
  position:absolute;
  left:200px;
  top:30px;
  width:100px;
  height:30px;
}
#u842 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u843_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u843 {
  position:absolute;
  left:300px;
  top:30px;
  width:100px;
  height:30px;
}
#u844 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u845_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u845 {
  position:absolute;
  left:400px;
  top:30px;
  width:100px;
  height:30px;
}
#u846 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u847_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u847 {
  position:absolute;
  left:500px;
  top:30px;
  width:100px;
  height:30px;
}
#u848 {
  position:absolute;
  left:2px;
  top:8px;
  width:96px;
  word-wrap:break-word;
}
#u849_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u849 {
  position:absolute;
  left:600px;
  top:30px;
  width:100px;
  height:30px;
}
#u850 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u851_div {
  position:absolute;
  left:0px;
  top:0px;
  width:760px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u851 {
  position:absolute;
  left:114px;
  top:405px;
  width:760px;
  height:18px;
}
#u852 {
  position:absolute;
  left:0px;
  top:0px;
  width:760px;
  word-wrap:break-word;
}
#u853 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u854 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u855_img {
  position:absolute;
  left:0px;
  top:0px;
  width:191px;
  height:32px;
}
#u855 {
  position:absolute;
  left:276px;
  top:149px;
  width:191px;
  height:32px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
}
#u856 {
  position:absolute;
  left:2px;
  top:8px;
  width:187px;
  visibility:hidden;
  word-wrap:break-word;
}
#u857_div {
  position:absolute;
  left:0px;
  top:0px;
  width:189px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(63, 164, 237, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#CCCCCC;
  text-align:left;
}
#u857 {
  position:absolute;
  left:277px;
  top:151px;
  width:189px;
  height:28px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#CCCCCC;
  text-align:left;
}
#u858 {
  position:absolute;
  left:8px;
  top:6px;
  width:173px;
  word-wrap:break-word;
}
#u859_img {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:6px;
}
#u859 {
  position:absolute;
  left:454px;
  top:163px;
  width:8px;
  height:6px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
  opacity:0.449999988079071;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u860 {
  position:absolute;
  left:2px;
  top:2px;
  width:4px;
  visibility:hidden;
  word-wrap:break-word;
}
#u861_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1056px;
  height:490px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u861 {
  position:absolute;
  left:55px;
  top:693px;
  width:1056px;
  height:490px;
}
#u862 {
  position:absolute;
  left:2px;
  top:237px;
  width:1052px;
  visibility:hidden;
  word-wrap:break-word;
}
#u863_div {
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u863 {
  position:absolute;
  left:64px;
  top:708px;
  width:157px;
  height:18px;
}
#u864 {
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  white-space:nowrap;
}
#u865_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1057px;
  height:2px;
}
#u865 {
  position:absolute;
  left:55px;
  top:736px;
  width:1056px;
  height:1px;
}
#u866 {
  position:absolute;
  left:2px;
  top:-8px;
  width:1052px;
  visibility:hidden;
  word-wrap:break-word;
}
#u867 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u868 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u869_img {
  position:absolute;
  left:0px;
  top:0px;
  width:191px;
  height:32px;
}
#u869 {
  position:absolute;
  left:75px;
  top:752px;
  width:191px;
  height:32px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
}
#u870 {
  position:absolute;
  left:2px;
  top:8px;
  width:187px;
  visibility:hidden;
  word-wrap:break-word;
}
#u871_div {
  position:absolute;
  left:0px;
  top:0px;
  width:189px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(63, 164, 237, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#CCCCCC;
  text-align:left;
}
#u871 {
  position:absolute;
  left:76px;
  top:754px;
  width:189px;
  height:28px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#CCCCCC;
  text-align:left;
}
#u872 {
  position:absolute;
  left:8px;
  top:6px;
  width:173px;
  word-wrap:break-word;
}
#u873_img {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:6px;
}
#u873 {
  position:absolute;
  left:253px;
  top:766px;
  width:8px;
  height:6px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
  opacity:0.449999988079071;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u874 {
  position:absolute;
  left:2px;
  top:2px;
  width:4px;
  visibility:hidden;
  word-wrap:break-word;
}
#u875 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u876 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u877 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u878_div {
  position:absolute;
  left:0px;
  top:0px;
  width:263px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(216, 216, 216, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Helvetica Neue Regular', 'Helvetica Neue';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
}
#u878 {
  position:absolute;
  left:470px;
  top:753px;
  width:263px;
  height:28px;
  font-family:'Helvetica Neue Regular', 'Helvetica Neue';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
}
#u879 {
  position:absolute;
  left:10px;
  top:7px;
  width:245px;
  word-wrap:break-word;
}
#u880_img {
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:13px;
}
#u880 {
  position:absolute;
  left:714px;
  top:760px;
  width:11px;
  height:13px;
}
#u881 {
  position:absolute;
  left:2px;
  top:-2px;
  width:7px;
  visibility:hidden;
  word-wrap:break-word;
}
#u882_div {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u882 {
  position:absolute;
  left:752px;
  top:750px;
  width:74px;
  height:37px;
}
#u883 {
  position:absolute;
  left:2px;
  top:11px;
  width:70px;
  word-wrap:break-word;
}
#u884 {
  position:absolute;
  left:93px;
  top:827px;
  width:705px;
  height:65px;
}
#u885_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u885 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
  color:#808080;
}
#u886 {
  position:absolute;
  left:2px;
  top:8px;
  width:96px;
  word-wrap:break-word;
}
#u887_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u887 {
  position:absolute;
  left:100px;
  top:0px;
  width:100px;
  height:30px;
  color:#808080;
}
#u888 {
  position:absolute;
  left:2px;
  top:8px;
  width:96px;
  word-wrap:break-word;
}
#u889_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u889 {
  position:absolute;
  left:200px;
  top:0px;
  width:100px;
  height:30px;
  color:#808080;
}
#u890 {
  position:absolute;
  left:2px;
  top:8px;
  width:96px;
  word-wrap:break-word;
}
#u891_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u891 {
  position:absolute;
  left:300px;
  top:0px;
  width:100px;
  height:30px;
  color:#808080;
}
#u892 {
  position:absolute;
  left:2px;
  top:8px;
  width:96px;
  word-wrap:break-word;
}
#u893_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u893 {
  position:absolute;
  left:400px;
  top:0px;
  width:100px;
  height:30px;
  color:#808080;
}
#u894 {
  position:absolute;
  left:2px;
  top:8px;
  width:96px;
  word-wrap:break-word;
}
#u895_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u895 {
  position:absolute;
  left:500px;
  top:0px;
  width:100px;
  height:30px;
  color:#808080;
}
#u896 {
  position:absolute;
  left:2px;
  top:8px;
  width:96px;
  word-wrap:break-word;
}
#u897_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u897 {
  position:absolute;
  left:600px;
  top:0px;
  width:100px;
  height:30px;
  color:#808080;
}
#u898 {
  position:absolute;
  left:2px;
  top:8px;
  width:96px;
  word-wrap:break-word;
}
#u899_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u899 {
  position:absolute;
  left:0px;
  top:30px;
  width:100px;
  height:30px;
}
#u900 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u901_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u901 {
  position:absolute;
  left:100px;
  top:30px;
  width:100px;
  height:30px;
}
#u902 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u903_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u903 {
  position:absolute;
  left:200px;
  top:30px;
  width:100px;
  height:30px;
}
#u904 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u905_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u905 {
  position:absolute;
  left:300px;
  top:30px;
  width:100px;
  height:30px;
}
#u906 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u907_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u907 {
  position:absolute;
  left:400px;
  top:30px;
  width:100px;
  height:30px;
}
#u908 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u909_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u909 {
  position:absolute;
  left:500px;
  top:30px;
  width:100px;
  height:30px;
}
#u910 {
  position:absolute;
  left:2px;
  top:8px;
  width:96px;
  word-wrap:break-word;
}
#u911_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u911 {
  position:absolute;
  left:600px;
  top:30px;
  width:100px;
  height:30px;
}
#u912 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u913_div {
  position:absolute;
  left:0px;
  top:0px;
  width:760px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u913 {
  position:absolute;
  left:114px;
  top:1008px;
  width:760px;
  height:18px;
}
#u914 {
  position:absolute;
  left:0px;
  top:0px;
  width:760px;
  word-wrap:break-word;
}
#u915 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u916 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u917_img {
  position:absolute;
  left:0px;
  top:0px;
  width:191px;
  height:32px;
}
#u917 {
  position:absolute;
  left:276px;
  top:752px;
  width:191px;
  height:32px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
}
#u918 {
  position:absolute;
  left:2px;
  top:8px;
  width:187px;
  visibility:hidden;
  word-wrap:break-word;
}
#u919_div {
  position:absolute;
  left:0px;
  top:0px;
  width:189px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(63, 164, 237, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#CCCCCC;
  text-align:left;
}
#u919 {
  position:absolute;
  left:277px;
  top:754px;
  width:189px;
  height:28px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#CCCCCC;
  text-align:left;
}
#u920 {
  position:absolute;
  left:8px;
  top:6px;
  width:173px;
  word-wrap:break-word;
}
#u921_img {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:6px;
}
#u921 {
  position:absolute;
  left:454px;
  top:766px;
  width:8px;
  height:6px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
  opacity:0.449999988079071;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u922 {
  position:absolute;
  left:2px;
  top:2px;
  width:4px;
  visibility:hidden;
  word-wrap:break-word;
}
#u923_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1886px;
  height:470px;
}
#u923 {
  position:absolute;
  left:85px;
  top:1310px;
  width:1886px;
  height:470px;
}
#u924 {
  position:absolute;
  left:2px;
  top:227px;
  width:1882px;
  visibility:hidden;
  word-wrap:break-word;
}
#u925_div {
  position:absolute;
  left:0px;
  top:0px;
  width:339px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u925 {
  position:absolute;
  left:113px;
  top:1780px;
  width:339px;
  height:18px;
}
#u926 {
  position:absolute;
  left:0px;
  top:0px;
  width:339px;
  word-wrap:break-word;
}
