body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1038px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u294_div {
  position:absolute;
  left:0px;
  top:0px;
  width:999px;
  height:641px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u294 {
  position:absolute;
  left:39px;
  top:57px;
  width:999px;
  height:641px;
}
#u295 {
  position:absolute;
  left:2px;
  top:312px;
  width:995px;
  visibility:hidden;
  word-wrap:break-word;
}
#u296_div {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u296 {
  position:absolute;
  left:62px;
  top:74px;
  width:44px;
  height:18px;
}
#u297 {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  white-space:nowrap;
}
#u298 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u299_div {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u299 {
  position:absolute;
  left:127px;
  top:74px;
  width:59px;
  height:18px;
}
#u300 {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  white-space:nowrap;
}
#u301_img {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:6px;
}
#u301 {
  position:absolute;
  left:187px;
  top:78px;
  width:8px;
  height:6px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
  opacity:0.449999988079071;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u302 {
  position:absolute;
  left:2px;
  top:2px;
  width:4px;
  visibility:hidden;
  word-wrap:break-word;
}
#u303 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u304_div {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u304 {
  position:absolute;
  left:215px;
  top:74px;
  width:30px;
  height:18px;
}
#u305 {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  white-space:nowrap;
}
#u306_img {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:6px;
}
#u306 {
  position:absolute;
  left:248px;
  top:80px;
  width:8px;
  height:6px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
  opacity:0.449999988079071;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u307 {
  position:absolute;
  left:2px;
  top:2px;
  width:4px;
  visibility:hidden;
  word-wrap:break-word;
}
#u308 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u309_div {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u309 {
  position:absolute;
  left:306px;
  top:74px;
  width:30px;
  height:18px;
}
#u310 {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  white-space:nowrap;
}
#u311_img {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:6px;
}
#u311 {
  position:absolute;
  left:336px;
  top:80px;
  width:8px;
  height:6px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
  opacity:0.449999988079071;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u312 {
  position:absolute;
  left:2px;
  top:2px;
  width:4px;
  visibility:hidden;
  word-wrap:break-word;
}
#u313 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u314_div {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u314 {
  position:absolute;
  left:388px;
  top:74px;
  width:30px;
  height:18px;
}
#u315 {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  white-space:nowrap;
}
#u316_img {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:6px;
}
#u316 {
  position:absolute;
  left:418px;
  top:80px;
  width:8px;
  height:6px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
  opacity:0.449999988079071;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u317 {
  position:absolute;
  left:2px;
  top:2px;
  width:4px;
  visibility:hidden;
  word-wrap:break-word;
}
#u318 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u319_div {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u319 {
  position:absolute;
  left:465px;
  top:74px;
  width:59px;
  height:18px;
}
#u320 {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  white-space:nowrap;
}
#u321_img {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:6px;
}
#u321 {
  position:absolute;
  left:525px;
  top:78px;
  width:8px;
  height:6px;
  -webkit-transform:rotate(270deg);
  -moz-transform:rotate(270deg);
  -ms-transform:rotate(270deg);
  transform:rotate(270deg);
  opacity:0.449999988079071;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u322 {
  position:absolute;
  left:2px;
  top:2px;
  width:4px;
  visibility:hidden;
  word-wrap:break-word;
}
#u323_div {
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u323 {
  position:absolute;
  left:51px;
  top:140px;
  width:270px;
  height:18px;
}
#u324 {
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  white-space:nowrap;
}
#u325_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1000px;
  height:2px;
}
#u325 {
  position:absolute;
  left:39px;
  top:112px;
  width:999px;
  height:1px;
}
#u326 {
  position:absolute;
  left:2px;
  top:-8px;
  width:995px;
  visibility:hidden;
  word-wrap:break-word;
}
#u327_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1000px;
  height:2px;
}
#u327 {
  position:absolute;
  left:39px;
  top:180px;
  width:999px;
  height:1px;
}
#u328 {
  position:absolute;
  left:2px;
  top:-8px;
  width:995px;
  visibility:hidden;
  word-wrap:break-word;
}
#u329 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u330_div {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:62px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(217, 217, 217, 1);
  border-radius:4px;
  -moz-box-shadow:0px 0px 4px rgba(217, 217, 217, 0.988235294117647);
  -webkit-box-shadow:0px 0px 4px rgba(217, 217, 217, 0.988235294117647);
  box-shadow:0px 0px 4px rgba(217, 217, 217, 0.988235294117647);
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
  text-align:left;
}
#u330 {
  position:absolute;
  left:447px;
  top:102px;
  width:103px;
  height:62px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
  text-align:left;
}
#u331 {
  position:absolute;
  left:8px;
  top:23px;
  width:87px;
  visibility:hidden;
  word-wrap:break-word;
}
#u332_img {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:32px;
}
#u332 {
  position:absolute;
  left:448px;
  top:132px;
  width:102px;
  height:32px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
}
#u333 {
  position:absolute;
  left:16px;
  top:8px;
  width:70px;
  word-wrap:break-word;
}
#u334_img {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:32px;
}
#u334 {
  position:absolute;
  left:448px;
  top:102px;
  width:102px;
  height:32px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#999999;
  text-align:left;
}
#u335 {
  position:absolute;
  left:16px;
  top:8px;
  width:70px;
  word-wrap:break-word;
}
#u336 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u337 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u338_img {
  position:absolute;
  left:0px;
  top:0px;
  width:191px;
  height:32px;
}
#u338 {
  position:absolute;
  left:67px;
  top:200px;
  width:191px;
  height:32px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
}
#u339 {
  position:absolute;
  left:2px;
  top:8px;
  width:187px;
  visibility:hidden;
  word-wrap:break-word;
}
#u340_div {
  position:absolute;
  left:0px;
  top:0px;
  width:189px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(63, 164, 237, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#CCCCCC;
  text-align:left;
}
#u340 {
  position:absolute;
  left:68px;
  top:202px;
  width:189px;
  height:28px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#CCCCCC;
  text-align:left;
}
#u341 {
  position:absolute;
  left:8px;
  top:6px;
  width:173px;
  word-wrap:break-word;
}
#u342_img {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:6px;
}
#u342 {
  position:absolute;
  left:245px;
  top:214px;
  width:8px;
  height:6px;
  -webkit-transform:rotate(270deg);
  -moz-transform:rotate(270deg);
  -ms-transform:rotate(270deg);
  transform:rotate(270deg);
  opacity:0.449999988079071;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u343 {
  position:absolute;
  left:2px;
  top:2px;
  width:4px;
  visibility:hidden;
  word-wrap:break-word;
}
#u344_div {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u344 {
  position:absolute;
  left:546px;
  top:197px;
  width:68px;
  height:35px;
}
#u345 {
  position:absolute;
  left:2px;
  top:10px;
  width:64px;
  word-wrap:break-word;
}
#u346_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:35px;
  background:inherit;
  background-color:rgba(0, 102, 255, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u346 {
  position:absolute;
  left:624px;
  top:197px;
  width:85px;
  height:35px;
  color:#FFFFFF;
}
#u347 {
  position:absolute;
  left:2px;
  top:10px;
  width:81px;
  word-wrap:break-word;
}
#u348 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u349 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u350 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u351_div {
  position:absolute;
  left:0px;
  top:0px;
  width:263px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(216, 216, 216, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Helvetica Neue Regular', 'Helvetica Neue';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
}
#u351 {
  position:absolute;
  left:273px;
  top:200px;
  width:263px;
  height:28px;
  font-family:'Helvetica Neue Regular', 'Helvetica Neue';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
}
#u352 {
  position:absolute;
  left:10px;
  top:7px;
  width:245px;
  word-wrap:break-word;
}
#u353_img {
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:13px;
}
#u353 {
  position:absolute;
  left:517px;
  top:207px;
  width:11px;
  height:13px;
}
#u354 {
  position:absolute;
  left:2px;
  top:-2px;
  width:7px;
  visibility:hidden;
  word-wrap:break-word;
}
#u355_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:35px;
  background:inherit;
  background-color:rgba(0, 102, 255, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u355 {
  position:absolute;
  left:719px;
  top:197px;
  width:85px;
  height:35px;
  color:#FFFFFF;
}
#u356 {
  position:absolute;
  left:2px;
  top:10px;
  width:81px;
  word-wrap:break-word;
}
#u357 {
  position:absolute;
  left:62px;
  top:265px;
  width:805px;
  height:65px;
}
#u358_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u358 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
  color:#808080;
}
#u359 {
  position:absolute;
  left:2px;
  top:8px;
  width:96px;
  word-wrap:break-word;
}
#u360_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u360 {
  position:absolute;
  left:100px;
  top:0px;
  width:100px;
  height:30px;
  color:#808080;
}
#u361 {
  position:absolute;
  left:2px;
  top:8px;
  width:96px;
  word-wrap:break-word;
}
#u362_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u362 {
  position:absolute;
  left:200px;
  top:0px;
  width:100px;
  height:30px;
  color:#808080;
}
#u363 {
  position:absolute;
  left:2px;
  top:8px;
  width:96px;
  word-wrap:break-word;
}
#u364_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u364 {
  position:absolute;
  left:300px;
  top:0px;
  width:100px;
  height:30px;
  color:#808080;
}
#u365 {
  position:absolute;
  left:2px;
  top:8px;
  width:96px;
  word-wrap:break-word;
}
#u366_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u366 {
  position:absolute;
  left:400px;
  top:0px;
  width:100px;
  height:30px;
  color:#808080;
}
#u367 {
  position:absolute;
  left:2px;
  top:8px;
  width:96px;
  word-wrap:break-word;
}
#u368_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u368 {
  position:absolute;
  left:500px;
  top:0px;
  width:100px;
  height:30px;
  color:#808080;
}
#u369 {
  position:absolute;
  left:2px;
  top:8px;
  width:96px;
  word-wrap:break-word;
}
#u370_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u370 {
  position:absolute;
  left:600px;
  top:0px;
  width:100px;
  height:30px;
  color:#808080;
}
#u371 {
  position:absolute;
  left:2px;
  top:8px;
  width:96px;
  word-wrap:break-word;
}
#u372_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u372 {
  position:absolute;
  left:700px;
  top:0px;
  width:100px;
  height:30px;
  color:#808080;
}
#u373 {
  position:absolute;
  left:2px;
  top:8px;
  width:96px;
  word-wrap:break-word;
}
#u374_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u374 {
  position:absolute;
  left:0px;
  top:30px;
  width:100px;
  height:30px;
  color:#808080;
}
#u375 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u376_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u376 {
  position:absolute;
  left:100px;
  top:30px;
  width:100px;
  height:30px;
  color:#808080;
}
#u377 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u378_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u378 {
  position:absolute;
  left:200px;
  top:30px;
  width:100px;
  height:30px;
  color:#808080;
}
#u379 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u380_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u380 {
  position:absolute;
  left:300px;
  top:30px;
  width:100px;
  height:30px;
  color:#808080;
}
#u381 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u382_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u382 {
  position:absolute;
  left:400px;
  top:30px;
  width:100px;
  height:30px;
  color:#808080;
}
#u383 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u384_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u384 {
  position:absolute;
  left:500px;
  top:30px;
  width:100px;
  height:30px;
  color:#808080;
}
#u385 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u386_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u386 {
  position:absolute;
  left:600px;
  top:30px;
  width:100px;
  height:30px;
  color:#808080;
}
#u387 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u388_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u388 {
  position:absolute;
  left:700px;
  top:30px;
  width:100px;
  height:30px;
  color:#808080;
}
#u389 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u390_div {
  position:absolute;
  left:0px;
  top:0px;
  width:580px;
  height:302px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u390 {
  position:absolute;
  left:224px;
  top:354px;
  width:580px;
  height:302px;
}
#u391 {
  position:absolute;
  left:2px;
  top:143px;
  width:576px;
  visibility:hidden;
  word-wrap:break-word;
}
#u392_div {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u392 {
  position:absolute;
  left:237px;
  top:369px;
  width:87px;
  height:18px;
}
#u393 {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  white-space:nowrap;
}
#u394_div {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u394 {
  position:absolute;
  left:237px;
  top:407px;
  width:68px;
  height:18px;
}
#u395 {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  white-space:nowrap;
}
#u396 {
  position:absolute;
  left:315px;
  top:408px;
  width:100px;
  height:16px;
}
#u397 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u396_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u398 {
  position:absolute;
  left:415px;
  top:408px;
  width:100px;
  height:16px;
}
#u399 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u398_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u400 {
  position:absolute;
  left:506px;
  top:408px;
  width:100px;
  height:16px;
}
#u401 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u400_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u402_div {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u402 {
  position:absolute;
  left:237px;
  top:448px;
  width:68px;
  height:18px;
}
#u403 {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  white-space:nowrap;
}
#u404_div {
  position:absolute;
  left:0px;
  top:0px;
  width:427px;
  height:138px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u404 {
  position:absolute;
  left:312px;
  top:448px;
  width:427px;
  height:138px;
}
#u405 {
  position:absolute;
  left:2px;
  top:61px;
  width:423px;
  visibility:hidden;
  word-wrap:break-word;
}
#u406_div {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:35px;
  background:inherit;
  background-color:rgba(0, 102, 255, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u406 {
  position:absolute;
  left:691px;
  top:607px;
  width:78px;
  height:35px;
  color:#FFFFFF;
}
#u407 {
  position:absolute;
  left:2px;
  top:10px;
  width:74px;
  word-wrap:break-word;
}
#u408_div {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u408 {
  position:absolute;
  left:608px;
  top:607px;
  width:78px;
  height:35px;
}
#u409 {
  position:absolute;
  left:2px;
  top:10px;
  width:74px;
  word-wrap:break-word;
}
#u410_img {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:18px;
}
#u410 {
  position:absolute;
  left:781px;
  top:362px;
  width:17px;
  height:18px;
  font-size:48px;
  color:#CCCCCC;
}
#u411 {
  position:absolute;
  left:2px;
  top:1px;
  width:13px;
  visibility:hidden;
  word-wrap:break-word;
}
